{% extends 'rise/base.html' %}
{% block title %}- Aliança{% endblock %}
{% block content %}
    {% load l10n %}
    {% load i18n %}
    <div class="jumbotron text-center">
        <h1>{{ally.tag}} - {{ally.nome}}</h1>
        <p>{{total}} membros</p>
        {% language 'pt-br' %}
        <p>{{power}} de poder total.</p>
        <p>{{kills}} killpoints da aliança.</p>
        <p>{{death}} mortes totais na aliança.</p>
        {% endlanguage %}
    </div>
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nick</th>
                <th>Atalhos</th>
            </tr>
            </thead>
            <tbody>
            {% for membro in membros %}
            <tr>
                <td><a href="/players/{{membro.game_id}}">{{membro.game_id}}</a></td>
                <td>{{membro.nick}}</td>
                <td><a href="/players/edit/{{membro.game_id}}" class="btn btn-warning">Editar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}