{% extends 'rise/base.html' %}
{% block title %}- Aliança{% endblock %}
{% block content %}
{% load l10n %}
{% load i18n %}
<div class="jumbotron text-center">
    <h1>{{ally.tag}} - {{ally.nome}}</h1>
    <p>{{total}} membros</p>
    {% language 'pt-br' %}
    <p>{{power}} de poder total.</p>
    <p>{{kills}} killpoints da aliança.</p>
    <p>{{death}} mortes totais na aliança.</p>
    {% endlanguage %}
    {% if user.is_authenticated %}
    <a href="/players/review/{{ally.tag}}" class="btn btn-warning"><i class="fas fa-users"></i> Revisar membros</a>
    {% endif %}
</div>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nick</th>
                {% if user.is_authenticated %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for membro in membros %}
            <tr>
                <td><a href="/players/{{membro.game_id}}">{{membro.game_id}}</a></td>
                <td>{{membro.nick}}</td>
                {% if user.is_authenticated %}
                <td><a href="/players/edit/{{membro.game_id}}/" class="btn btn-warning"><i class="fas fa-user-edit"></i></a>
                    <a href="/mge/punir/{{membro.game_id}}/" class="btn btn-danger">Punir MGE</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}