{% extends 'rise/base.html' %}
{% block title %}- Aliança{% endblock %}
{% block content %}
{% load l10n %}
{% load i18n %}
<div class="bg-light p-3 text-center">
    <div class="container">
        <h1 class="display-4">{{ally.tag}} - {{ally.nome}}</h1>
        <p class="lead">{{total}} membros</p>
        {% language 'pt-br' %}
        <p class="lead">{{power}} de poder total.</p>
        <p class="lead">{{kills}} killpoints da aliança.</p>
        <p class="lead">{{death}} mortes totais na aliança.</p>
        {% endlanguage %}
        {% if user.is_authenticated %}
        <a href="/players/review/{{ally.tag}}" class="btn btn-warning"><i class="fas fa-users"></i> Revisar membros</a>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
    <nav aria-label="Paginação entre membros">
        <ul class="pagination justify-content-center">
            {% if membros.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ membros.previous_page_number }}">Anterior</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Primeira</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% endif %}

            {% for num in range %}
            {% if num == membros.number %}
            <li class="page-item active" aria-current="page">

                <a class="page-link" href="#">{{ membros.number }}</a>

            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{num}}">{{ num }}</a>
            </li>
            {% endif %}

            {% endfor %}


            {% if membros.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ membros.next_page_number }}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ membros.paginator.num_pages }}">Última</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Última</a></li>
            {% endif %}
        </ul>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nick</th>
                {% if user.is_authenticated %}
                <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for membro in membros %}
            <tr>
                <th scope="row"><a href="/players/{{membro.game_id}}">{{membro.game_id}}</a></th>
                <td>{{membro.nick}}</td>
                {% if user.is_authenticated %}
                <td><a href="/players/edit/{{membro.game_id}}/" class="btn btn-warning"><i
                            class="fas fa-user-edit"></i></a>
                    <a href="/mge/punir/{{membro.game_id}}/" class="btn btn-danger">Punir MGE</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if user.is_authenticated %}
<div class="container">
    <h2>Histórico de Créditos da Aliança</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data da anotação</th>
                <th>Créditos</th>
            </tr>
        </thead>
        <tbody>
            {% for credito in creditos %}
            <tr>
                <td>{{credito.timestamp}}</td>
                <td>{{credito.quantidade}}M</td>
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td>Não há créditos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}