{% extends 'rise/base.html' %}
{% block title %}- Detalhes do Jogador{% endblock %}
{% block content %}
    {% load l10n %}
    {% load i18n %}
    <div class="jumbotron text-center">
        <h1>{{player.game_id}} - {{player.nick}} <span class="badge badge-secondary">{{player.status}}</span></h1>
        <h2><a href="/players/alliance/{{player.alliance.tag}}">{{player.alliance.tag}}</a> - {{player.specialty}}</h2>
        <p><b>Observações:</b> {{player.observacao}}</p>
    </div>
    <div class="container container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Data da informação</th>
                <th>Poder</th>
                <th>Killpoints</th>
                <th>Mortes</th>
            </tr>
            </thead>
            <tbody>
            {% language 'pt-br' %}
            {% for item in status %}
            <tr>
                <td>{{item.data}}</td>
                <td>{{item.power}}</td>
                <td>{{item.killpoints}}</td>
                <td>{{item.deaths}}</td>
            </tr>
            {% endfor %}
            {% endlanguage %}
            </tbody>
        </table>
    </div>
{% endblock %}