{% extends 'rise/base.html' %}
{% block title %}- Detalhes do Jogador{% endblock %}
{% block content %}
{% load l10n %}
{% load i18n %}
{% load filters %}
<div class="bg-light p-3 text-center">
    <div class="container">
        <h1 class="display-4">{{player.game_id}} - {{player.nick}}
            {% if player.func == 'guar' %}
            <button class="badge bg-danger" title="Líder de Guarnição"><i class="fas fa-chess-rook"></i></button>
            {% elif player.func == 'rali' %}
            <button class="badge bg-warning" title="Líder de Rali"><i class="fas fa-chess-knight"></i></button>
            {% else %}
            <button class="badge bg-success" title="Openfield"><i class="fas fa-chess-pawn"></i></button>
            {% endif %} <span class="badge bg-secondary">{{player.status}}
                {% if player.principal.count >= 1 %}
                de <a
                    href="{% url 'player_profile' player.principal.first.game_id %}">{{player.principal.first.nick}}</a>
                {% endif %}
            </span>
        </h1>
        <div class="medalhas">
            {% for cargo in cargos %}
            <a href="{% url 'show_kvk' cargo.kvk.id %}">
                <div class="badge bg-primary medalha">
                    {% if cargo.funcao == 'gua' %}
                    <i class="fas fa-shield-alt" title="Guarnição"></i>
                    Guarnição | {{ cargo.kvk.inicio }}
                    {% endif %}
                    {% if cargo.funcao == 'ral' %}
                    <i class="fas fa-meteor" title="Rali"></i>
                    Rali | {{ cargo.kvk.inicio }}
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        <h2><a href="{% url 'alliance' player.alliance.id %}">{{player.alliance.tag}}</a> - {{spec}}</h2>
        {% if user.is_authenticated %}
        <p class="lead"><b>Observações:</b> {{player.observacao}}</p>
        {% endif %}
        <br>
        {% if user.is_authenticated %}
        <div class="row">

            <div class="col"><b>Alterado em:</b> {{player.alterado_em}} <b>por</b> {{player.alterado_por}}</div>
            <div class="col"><a href="{% url 'edit_player' player.game_id %}" class="btn btn-warning"><i
                        class="fas fa-user-edit"></i></a>
                <a href="{% url 'banidoZerado' player.game_id %}" class="btn btn-warning">Registrar zeramento</a>
                {% if showkvk %}
                <a class="btn btn-danger" href="{% url 'add_zerado' player.game_id %}">Zerado no KvK</a>
                {% endif %}
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% if user.is_authenticated %}
<div class="container">
    <h2>Gestão de farms</h2>
    <form method="POST" action="{% url 'add_farm' player.game_id %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="id_farm">Farm a adicionar:</label>

            <input type="text" name="farm" class="form-control" pattern="^[0-9]*$" maxlength="9" required id="id_farm">

            <button class="btn btn-outline-primary" type="submit">Adicionar</button>
        </div>
    </form>
    <div class="accordion" id="accordionFarms">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFarms">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFarms" aria-expanded="true" aria-controls="collapseFarms">Farms de
                    {{player.nick}}</button>
            </h2>
            <div id="collapseFarms" class="accordion-collapse collapse" aria-labelledby="headingFarms"
                data-bs-parent="#accordionFarms">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <tbody>
                            {% for farm in player.farms.all %}
                            <tr>
                                <td>
                                    {{farm.game_id}} - <a
                                        href="{% url 'player_profile' farm.game_id %}">[{{farm.alliance.tag}}]
                                        {{farm.nick}}</a></td>
                                <td> <a href="{% url 'remove_farm' player.game_id farm.game_id %}"
                                        class="btn btn-danger">Remover</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}
<div class="container">
    <div class="accordion" id="accordionStatus">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#item0" aria-expanded="false">
                    Feitos históricos
                </button>
            </h2>
            <div id="item0" class="accordion-collapse collapse" data-bs-parent="#accordionStatus">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">KvK</th>
                                <th scope="col">Killpoints</th>
                                <th scope="col">Kills t4</th>
                                <th scope="col">Kills t5</th>
                                <th scope="col">Mortes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for kvk in kvks %}
                            {% with cor=kvk.cor_dt %}
                            {% if cor == 'GRA' %}
                            <tr class="table-secondary">
                                {% elif cor == 'GRE' %}
                            <tr class="table-success">
                                {% elif cor == 'YEL' %}
                            <tr class="table-warning">
                                {% elif cor == 'RED' %}
                            <tr class="table-danger">
                                {% endif %}
                                <td scope="row"><a href="{% url 'show_kvk' kvk.kvk.id %}">Kvk iniciado em
                                        {{kvk.kvk.inicio}}</a>
                                </td>
                                <td>{{kvk.kp}}</td>
                                <td>{{kvk.k4}}</td>
                                <td>{{kvk.k5}}</td>
                                <td>{{kvk.dt}}</td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <sub><b>A cor representa a cor no ranking de mortos do KvK.</b></sub>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item1"
                    aria-expanded="true">
                    Status em gráfico
                </button>
            </h2>
            <div id="item1" class="accordion-collapse collapse show" data-bs-parent="#accordionStatus">
                <div class="accordion-body">
                    <canvas id="grafico"></canvas>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#item2" aria-expanded="true">
                    Status em tabela
                </button>
            </h2>
            <div id="item2" class="accordion-collapse collapse" data-bs-parent="#accordionStatus">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Data da informação</th>
                                <th scope="col">Poder</th>
                                <th scope="col">Killpoints</th>
                                <th scope="col">Mortes</th>
                                <th scope="col">Abates Tier 4</th>
                                <th scope="col">Abates Tier 5</th>
                                {% if user.is_authenticated %}
                                <th scope="col">Ações</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% language 'pt-br' %}
                            {% if user.is_authenticated %}
                            {% for item in elementos %}
                            {% if item.data %}
                            <tr>
                                <th scope="row">{{item.data}}</th>
                                <td>{{item.power}}</td>
                                <td>{{item.killpoints}}</td>
                                <td>{{item.deaths}}</td>
                                <td>{{item.killst4}}</td>
                                <td>{{item.killst5}}</td>
                                <td>
                                    {% if item.editavel %}
                                    <a class="btn btn-warning" href="{% url 'edit_status' item.get_id %}">Editar</a>
                                    <a class="btn btn-danger" href="{% url 'delete_status' item.get_id %}">Deletar</a>
                                    {% endif %}
                                </td>

                            </tr>
                            {% else %}
                            <tr class="table-danger">
                                <th scope="row">{{item.date}}</th>
                                <td>KvK iniciado em {{item.kvk.inicio}}</td>
                                <td>{{item.descricao}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if not user.is_authenticated %}
                            {% for item in status|slice:":1" %}
                            <tr>
                                <th scope="row">{{item.data}}</th>
                                <td>{{item.power}}</td>
                                <td>{{item.killpoints}}</td>
                                <td>{{item.deaths}}</td>
                                <td>{{item.killst4}}</td>
                                <td>{{item.killst5}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            {% endlanguage %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#item3" aria-expanded="true">
                    Histórico de punições
                </button>
            </h2>
            <div id="item3" class="accordion-collapse collapse" data-bs-parent="#accordionStatus">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for punicao in punicoesMge %}
                        <li class="list-group-item">{{punicao}} {{punicao.mge.semana}}</li>
                        {% endfor %}
                        {% for punicao in punicoesPoder %}
                        <li class="list-group-item">{{punicao}} {{punicao.inserido}}</li>
                        {% endfor %}
                        {% for advertencia in advertencias %}
                        <li class="list-group-item text-wrap" style="width:100%;"><b>Advertido por</b>
                            {{advertencia.descricao}}
                            <b>de</b> {{advertencia.inicio}}
                            <b>até</b>
                            {{advertencia.final}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('grafico');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for item in grafico %}
            '{{item.data|date:"d/m/Y"}}',
            {% endfor %}
            ],
        {% localize off %}
        datasets: [{
            label: 'Killpoints',
            yAxisID: 'yKP',
            data: [
                {% for item in grafico %}
                {{ item.killpoints }},
        {% endfor %}
    ],
        borderWidth: 1
            },
        {
            label: 'Mortes',
            yAxisID: 'yDT',
            data: [
                {% for item in grafico %}
                    {{ item.deaths }},
        {% endfor %}
        ],
        {% endlocalize %}
        borderWidth: 1
                }]
        },
        options: {
        scales: {
            yKP: {
                title: {
                    display: true,
                    text: 'Killpoints',
                },
                position: 'left',
            },
            yDT: {
                title: {
                    display: true,
                    text: 'Mortes',
                },
                position: 'right',
            },
            x: {
                title: {
                    display: true,
                    text: 'Leituras'
                }
            },
        }
    }
    });
</script>
{% endblock %}