{% extends 'rise/base.html' %}
{% block title %}- Detalhes do Jogador{% endblock %}
{% block content %}
{% load l10n %}
{% load i18n %}
<div class="jumbotron text-center">
    <h1>{{player.game_id}} - {{player.nick}} <span class="badge badge-secondary">{{player.status}}</span></h1>
    <h2><a href="/players/alliance/{{player.alliance.tag}}">{{player.alliance.tag}}</a> - {{spec}}</h2>
    {% if user.is_authenticated %}
    <p><b>Observações:</b> {{player.observacao}}</p>
    {% endif %}
    <br>
    <div class="row">
        <div class="col"><b>Alterado em:</b> {{player.alterado_em}} <b>por</b> {{player.alterado_por}}</div>
        {% if user.is_authenticated %}
        <div class="col"><a href="/players/edit/{{player.game_id}}" class="btn btn-warning"><i class="fas fa-user-edit"></i></a>
            <a href="/mge/punir/{{player.game_id}}/" class="btn btn-danger">Punir MGE</a>
        </div>
        {% endif %}
    </div>
</div>
{% if user.is_authenticated %}
<div class="container">
    <form action="/players/addstatus/{{player.game_id}}/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col"><input class="form-control" type="text" name="poder" placeholder="poder sem pontos"
                    required min="0" pattern="^[0-9]*$"></div>
            <div class="col"><input class="form-control" type="text" name="killpoints"
                    placeholder="killpoints sem pontos" required min="0" pattern="^[0-9]*$"></div>
            <div class="col"><input class="form-control" type="text" name="mortes" placeholder="mortes sem pontos"
                    required min="0" pattern="^[0-9]*$"></div>
            <div class="col"><button class="btn btn-info" type="submit">Adicionar</button></div>
        </div>
    </form>
</div>
<br>
{% endif %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data da informação</th>
                <th>Poder</th>
                <th>Killpoints</th>
                <th>Mortes</th>
            </tr>
        </thead>
        <tbody>
            {% language 'pt-br' %}
            {% for item in status %}
            <tr>
                <td>{{item.data}}</td>
                <td>{{item.power}}</td>
                <td>{{item.killpoints}}</td>
                <td>{{item.deaths}}</td>
            </tr>
            {% endfor %}
            {% endlanguage %}
        </tbody>
    </table>
</div>
{% endblock %}