{% extends 'rise/base.html' %}
{% block title %}- Upload de planilha{% endblock %}
{% block content %}
{% load l10n %}
{% load i18n %}
<div class="container">
    <form action="{% url 'upload_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputFile">Planilha CSV</label>
            <input type="file" class="form-control" name="file" required id="id_file">
            <input type="date" name="dia" id="dia" class="form-control" required>
            <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}
