{% extends 'rise/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>Crie um novo time</h1>
    <p>Se a sua arca não tem ainda um time no site, você pode criá-lo,
        mas observe abaixo se ela já não existe (não precisa criar um novo a cada arca,
        basta reconfigurar).</p>
    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ arcaform.as_p }}

        <button type="submit" class="btn btn-primary">Criar arca</button>
    </form>
</div>
<hr>
{% endif %}
<div class="container">
    {% for time in times %}
    <a href="{% url 'editar_time' time.id %}" class="btn btn-secondary">Arca na {{time.ally.tag}}</a>
    {% endfor %}
</div>
{% endblock %}