{% extends 'rise/base.html' %}
{% block title %}- Configurações{% endblock %}
{% block content %}
<div class="container">
    <h1>Configurações gerais para o site</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <h2>Destaques do reino</h2>
        {{ destaqueform.management_form }}
        {% for form in destaqueform %}
        {% if forloop.last %}
        <h3>Adicione um novo destaque</h3>
        {% endif %}
        {{ form.as_p }}
        {% endfor %}
        <button class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}