{% extends 'rise/base.html' %}
{% block title %}- Relatório de dívidas{% endblock %}
{% block content %}
<div class="container">
    <h1>Relatório</h1>
    <p>Os jogadores listados abaixo não fizeram doações nas semanas indicadas</p>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Semana</th>
                <th>ID</th>
                <th>Nick</th>
            </tr>
        </thead>
        <tbody>
            {% for divida in devedores %}
            <tr>
                <td>{{divida.semana.segunda}} - {{divida.semana.recurso_da_semana}}</td>
                <td><a href="/player/{{divida.player.game_id}}/">{{divida.player.game_id}}</a></td>
                <td>{{divida.player.nick}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}