{% extends 'rise/base.html' %}
{% block title %}- Semana de Doações{% endblock %}
{% block content %}
<div class="container">
    <h1>Semana de {{semana.inicio}} a {{semana.final}}</h1>
    <h2>Nesta semana a doação é {{semana.recurso_da_semana}}.</h2>
    <table class="table table-stripped table-hover">
        <thead>
            <th>ID do Jogador</th>
            <th>Player</th>
            <th>Doou?</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for doador in doadores %}
            <tr>
                <td>{{doador.player.game_id}}</td>
                <td>{{doador}}</td>
                <td>
                    {% if doador.donated %}
                    Doou
                    {% else %}
                    DEVENDO
                    {% endif %}
                </td>
                {% if not doador.donated %}
                <td><a class="btn btn-success" href="/bank/donated/{{doador.id}}"><i class="fas fa-plus"></i> Registrar doação</a></td>
                {% else %}
                <td><a class="btn btn-danger" href="/bank/donated/{{doador.id}}"><i class="fas fa-minus"></i> Remover doação</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}