{% block subject %}
Account activation on {{ site_name }}
{% endblock subject %}

{% block text_body %}
You're receiving this email because you need to finish activation process on {{ site_name }}.

Please go to the following page to activate account:

{{ protocol }}://{{ domain }}/{{ url|safe }}

Thanks for registering!

The {{ site_name }} team
{% endblock text_body %}

{% block html_body %}
<div style="background-color: black; color: white;">
    <img src="https://k32.pythonanywhere.com/static/k32.png" alt="K32"
        style="display:bock; margin-left:auto; margin-right:auto; width: 20%;">

    <p>}You're receiving this email because you need to finish activation process on {{ site_name }}.</p>

    <p>Please go to the following page to activate account:</p>
    <p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

    <p>Thanks for registering!</p>

    <p>The {{ site_name }} team</p>
</div>
{% endblock html_body %}