{% extends 'rise/base.html' %}
{% block title %}- Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-5 text-center">Verifique seu desempenho no kvk atualmente aberto</h1>
            <form action="{% url 'como_estou' %}" method="post">
                {% csrf_token %}
                <input class="form-control" id="game_id" name="game_id" type="text" placeholder="ID" pattern="^[0-9]*$"
                    required>
                <input class="form-control btn btn-primary" type="submit" value="Analisar">
            </form>
        </div>
    </div>
    <hr>
    <h1 class="display-4 text-center">Top 10 do Reino</h1>
    <div class="row">
        <div class="col-sm-4">
            <h3>Poder</h3>
            <ol class="list-group list-group-numbered">
                {% for p in top10poder %}
                <li class="list-group-item"><a href="{% url 'player_profile' p.player.game_id %}">{{p.player.nick}}</a>
                    {% if p.player.func == 'guar' %}
                    <button class="badge bg-danger" title="Líder de Guarnição"><i
                            class="fas fa-chess-rook fs-4"></i></button>
                    {% elif p.player.func == 'rali' %}
                    <button class="badge bg-warning" title="Líder de Rali"><i
                            class="fas fa-chess-knight fs-4"></i></button>
                    {% else %}
                    <button class="badge bg-success" title="Openfield"><i class="fas fa-chess-pawn fs-4"></i></button>
                    {% endif %}
                    - {{p.power}}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-sm-4">
            <h3>Killpoints</h3>
            <ol class="list-group list-group-numbered">
                {% for p in top10kp %}
                <li class="list-group-item"><a href="{% url 'player_profile' p.player.game_id %}">{{p.player.nick}}</a>
                    {% if p.player.func == 'guar' %}
                    <button class="badge bg-danger" title="Líder de Guarnição"><i
                            class="fas fa-chess-rook fs-4"></i></button>
                    {% elif p.player.func == 'rali' %}
                    <button class="badge bg-warning" title="Líder de Rali"><i
                            class="fas fa-chess-knight fs-4"></i></button>
                    {% else %}
                    <button class="badge bg-success" title="Openfield"><i class="fas fa-chess-pawn fs-4"></i></button>
                    {% endif %}
                    - {{p.killpoints}}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-sm-4">
            <h3>Mortes</h3>
            <ol class="list-group list-group-numbered">
                {% for p in top10dt %}
                <li class="list-group-item"><a href="{% url 'player_profile' p.player.game_id %}">{{p.player.nick}}</a>
                    {% if p.player.func == 'guar' %}
                    <button class="badge bg-danger" title="Líder de Guarnição"><i
                            class="fas fa-chess-rook fs-4"></i></button>
                    {% elif p.player.func == 'rali' %}
                    <button class="badge bg-warning" title="Líder de Rali"><i
                            class="fas fa-chess-knight fs-4"></i></button>
                    {% else %}
                    <button class="badge bg-success" title="Openfield"><i class="fas fa-chess-pawn fs-4"></i></button>
                    {% endif %}
                    - {{p.deaths}}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}
