{% extends 'rise/base.html' %}
{% block title %}- MGE{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">MGE que inicia em {{mge.semana}}</h1>
    <h2 class="text-center">Inscrição <i class="fas fa-file-signature"></i></h2>

    {% if not insc_encerradas %}
    <div class="container">
        <h3>Inscrever</h3>
        <form action="/mge/inscrever/{{mge.id}}/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="text" name="player_id" id="player_id" placeholder="ID do jogador"
                    pattern="^[0-9]*$" required>
                <input class="form-control" type="text" name="general" id="general" placeholder="comandante que deseja">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Inscrever</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% if user.is_authenticated and not rank_fechado and insc_encerradas %}
    <div class="container">
        <h3>Inserir rankeado da coleta</h3>
        <form action="/mge/inscrever/{{mge.id}}/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="text" name="player_id" id="player_id" placeholder="ID do jogador"
                    pattern="^[0-9]*$" required>
                <input class="form-control" type="text" name="general" id="general" placeholder="comandante que deseja">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Inscrever</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="container">
        <h3>Inscritos</h3>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th scope="col">Nick</th>
                    <th scope="col">Abates no KvK</th>
                    <th scope="col">Mortes no KvK</th>
                    <th scope="col">General</th>
                    {% if user.is_authenticated and not rank_fechado %}
                    <th scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for inscrito in inscritos %}
                <tr>
                    <th scope="row">{{inscrito.player.nick}}</th>
                    <td>{{inscrito.kills}}</td>
                    <td>{{inscrito.deaths}}</td>
                    <td>{{inscrito.general}}</td>
                    {% if user.is_authenticated and not rank_fechado %}
                    <td><a href="/mge/addtorank/{{mge.id}}/{{inscrito.player.game_id}}/" class="btn btn-info">Adicionar
                            ao
                            rank</a><a href="/mge/desinscrever/{{mge.id}}/{{inscrito.player.game_id}}/"
                            class="btn btn-warning">Cancelar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <h2 class="text-center">Ranking <i class="fas fa-trophy"></i></h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Posição</th>
                <th scope="col">Nick</th>
                {% if user.is_authenticated and not rank_fechado %}
                <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for ranked in rank %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ranked.player.nick}}</td>
                {% if user.is_authenticated and not rank_fechado %}
                <td><a href="/mge/removefromrank/{{mge.id}}/{{ranked.player.game_id}}/" class="btn btn-danger">Remover
                        do rank</a></td>
                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <hr>
    <h2 class="text-center">Punidos <i class="fas fa-user-alt-slash"></i></h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nick</th>
                {% if user.is_authenticated %}
                <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for punido in punidos %}
            <tr>
                <th scope="row">{{punido.player.game_id}}</th>
                <td>{{punido.player.nick}}</td>
                {% if user.is_authenticated %}
                <td><a href="/mge/despunir/{{mge.id}}/{{punido.player.game_id}}/" class="btn btn-warning">Remover</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}