{% extends 'rise/base.html' %}
{% block title %}- KvK{% endblock %}
{% block content %}
{% load filters %}

<div class="container">
    {% if tipo == 'kp' %}
    <h1>Análise por Killpoints</h1>
    {% else %}
    <h1>Análise por Mortes</h1>
    {% endif %}
    <a href="{% url 'show_kvk' kvk %}" class="btn btn-secondary">Voltar</a>
    <table class="table">
        <th>Legenda</th>
        <tr class="table-success">
            <td>Acima da média do grupo</td>
        </tr>
        <tr class="table-warning">
            <td>Fez mais que 50% da média</td>
        </tr>
        <tr class="table-danger">
            <td>Fez menos que 50% da média</td>
        </tr>
        <tr class="table-primary">
            <td>Farms do reino não contam para as médias.</td>
        </tr>
        <tr class="table-secondary">
            <td>
                Zerados pelo adversário e banidos após o KvK encerrar continuam aparecendo mas não são contabilizados
                para a
                média do grupo.
            </td>
        </tr>
        <tr>
            <td><span style="color:green;">+numero</span> é o número de mortes nas farms onde T4 vale 0.25 e T5 vale
                0.5.
            </td>
        </tr>
        <tr>
            <td><span style="color:red;">-numero</span> são os pontos abatidos por ter tido ranking em MGE controlado.
                Estes pontos também não são considerados para calcular a média do grupo.
            </td>
        </tr>
        <tr>
            <td><span style="color:orange;">-numero</span> são os pontos abatidos por ter sido zerado (são abatidas as
                mortes entre a leitura imediatamente após e a leitura imediatamente antes do zeramento)
            </td>
        </tr>
    </table>
    <div class="accordion" id="accordionExample">
        {% for grupo in categorizados %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{forloop.counter}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false"
                    aria-controls="collapse{{forloop.counter}}">
                    Grupo: {{grupo.faixa0}} a {{grupo.faixa1}}
                </button>
            </h2>
            <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
                aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h4>A média do grupo é: {{grupo.media}}</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Posição</th>
                                    <th scope="col">Nick</th>
                                    <th scope="col">Killpoints</th>
                                    <th scope="col">Mortes</th>
                                    {% if user.is_authenticated %}
                                    <th scope="col">Ações</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in grupo.membros %}
                                {% if tipo == 'dt' %}
                                {% if player.player in zerados or player.player in banidos_inativos %}
                                <tr class="table-secondary">
                                    {% elif player.dt >= grupo.media %}
                                <tr class="table-success">
                                    {% elif player.dt >= grupo.meiamedia %}
                                <tr class="table-warning">
                                    {% else %}
                                <tr class="table-danger">
                                    {% endif %}
                                    {% else %}
                                    {% if player.player in zerados or player.player in banidos_inativos %}
                                <tr class="table-secondary">
                                    {% elif player.player in farms %}
                                <tr class="table-primary">
                                    {% elif player.kp >= grupo.media %}
                                <tr class="table-success">
                                    {% elif player.kp >= grupo.meiamedia %}
                                <tr class="table-warning">
                                    {% else %}
                                <tr class="table-danger">
                                    {% endif %}
                                    {% endif %}
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{player.player__game_id}} - <a
                                            href="{% url 'player_profile' player.player__game_id %}">[{{player.player__alliance__tag}}]
                                            {{player.player__nick}}</a>
                                        {% if player.player__nick|foi_guarnicao:kvk == 'gua' %}
                                        <i class="fas fa-shield-alt" style="color:blue;" title="Guarnição"></i>
                                        {% endif %}
                                        {% if player.player__nick|foi_rali:kvk == 'ral' %}
                                        <i class="fas fa-meteor" style="color:red;" title="Rali"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{player.kp}}
                                        {% if player.player__game_id in abateMGE %}
                                        <span style="color:red;">- {{abateMGE|get:player.player__game_id}}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{player.dt}}
                                        {% if player.player__game_id in adicionais %}
                                        <span style="color:green;">+ {{adicionais|get:player.player__game_id}}</span>
                                        {% endif %}
                                        {% if player.player__game_id in abates_de_zerados %}
                                        <span style="color:orange;">-
                                            {{abates_de_zerados|get:player.player__game_id}}</span>
                                        {% endif %}
                                    </td>
                                    {% if user.is_authenticated %}
                                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal"
                                            data-bs-nick="{{player.player__nick}}" data-bs-kvkid="{{kvk}}"
                                            data-bs-cat="{{tipo}}"
                                            data-bs-playerid="{{player.player__game_id}}">Adicionar
                                            dados das
                                            farms</button>
                                        <button class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#modalAbater" data-bs-nick="{{player.player__nick}}"
                                            data-bs-kvkid="{{kvk}}" data-bs-cat="{{tipo}}"
                                            data-bs-playerid="{{player.player__game_id}}">Abater
                                            MGE controlado</button>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Este grupo não possui jogadores.</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">
                    Adicionar dados das farms</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'adicionarFarms' %}" method="post">
                <div class="modal-body">
                    Jogador: <span id="nick"></span><br>
                    {% csrf_token %}
                    <input type="hidden" name="cat" id="categ" value="">
                    <input type="hidden" name="kvkid" id="kvkid" value="">
                    <input type="hidden" name="player_id" id="playerid" value="">
                    <div class="mb-3">
                        <label for="t4" class="form-label">Mortes de T4</label>
                        <input id="t4" class="form-control" type="text" name="t4" placeholder="mortes de t4" value="0"
                            pattern="^(0|[1-9][0-9]*)$">
                    </div>
                    <div class="mb-3">
                        <label for="t5" class="form-label">Mortes de T5</label>
                        <input id="t5" class="form-control" type="text" name="t5" placeholder="mortes de t5" value="0"
                            pattern="^(0|[1-9][0-9]*)$">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAbater" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelAbater">
                    Abater pontos em MGE controlado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'adicionarMGE' %}" method="post">
                <div class="modal-body">
                    Jogador: <span id="nickAbates"></span><br>
                    {% csrf_token %}
                    <input type="hidden" name="cat" id="categAbates" value="">
                    <input type="hidden" name="kvkid" id="kvkidAbates" value="">
                    <input type="hidden" name="player_id" id="playeridAbates" value="">
                    <div class="mb-3">
                        <label for="pontos" class="form-label">Pontos</label>
                        <input id="pontos" class="form-control" type="text" name="pontos" placeholder="pontos" value="0"
                            pattern="^(0|[1-9][0-9]*)$">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const modal = document.getElementById('modal')
    modal.addEventListener('show.bs.modal', event => {

        const button = event.relatedTarget

        const nick = button.getAttribute('data-bs-nick')
        const cat = button.getAttribute('data-bs-cat')
        const kvkid = button.getAttribute('data-bs-kvkid')
        const playerid = button.getAttribute('data-bs-playerid')

        const modalnick = modal.querySelector('#nick')
        const modalCatInput = modal.querySelector('#categ')
        const modalKvkIdInput = modal.querySelector('#kvkid')
        const modalPlayerIdInput = modal.querySelector('#playerid')

        modalnick.textContent = nick
        modalCatInput.value = cat
        modalKvkIdInput.value = kvkid
        modalPlayerIdInput.value = playerid
    })

    const modalAbates = document.getElementById('modalAbater')
    modalAbates.addEventListener('show.bs.modal', event => {

        const button = event.relatedTarget

        const nick = button.getAttribute('data-bs-nick')
        const cat = button.getAttribute('data-bs-cat')
        const kvkid = button.getAttribute('data-bs-kvkid')
        const playerid = button.getAttribute('data-bs-playerid')

        const modalnick = modalAbates.querySelector('#nickAbates')
        const modalCatInput = modalAbates.querySelector('#categAbates')
        const modalKvkIdInput = modalAbates.querySelector('#kvkidAbates')
        const modalPlayerIdInput = modalAbates.querySelector('#playeridAbates')

        modalnick.textContent = nick
        modalCatInput.value = cat
        modalKvkIdInput.value = kvkid
        modalPlayerIdInput.value = playerid
    })
</script>

{% endblock %}