{% extends 'rise/base.html' %}
{% block title %}- KvK{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-4">DKP</h1>
    <a href="{% url 'show_kvk' kvk.id %}" class="btn btn-secondary">Voltar</a>
    <a href="{% url 'upload_hoh' kvk.id %}" class="btn btn-primary">Upload HoH</a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Posição</th>
                <th scope="col">Nick</th>
                <th scope="col">DKP</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for st in status %}
            <tr>
                <th scope="col">{{forloop.counter}}</th>
                <td><a href="{% url 'player_profile' st.game_id %}">{{st.player}}</a></td>
                <td>{{st.dkp}}
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-info" data-bs-container="body" data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-content="Abates t4: {{st.killst4}}; Abates t5: {{st.killst5}}; Mortes t4: {{st.deatht4}}; Mortes t5: {{st.deatht5}}; Desconto de poder: {{st.desconto}}">Detalhes</button>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'status_dkp' kvk.id st.game_id %}" class="btn btn-primary">Adicionar status</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
