{% extends 'rise/base.html' %}
{% block title %}- KvK{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% if kvk.ativo %}
<div class="container">
    <div class="row">
        <div class="col" style="padding-bottom: 5px;">
            <p><b>Você pode adicionar uma etapa manualmente.</b></p>
            <form action="{% url 'registrarEtapa' kvk.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-primary" type="submit">Enviar</button>
            </form>
        </div>
        <div class="col" style="border-left: 1px solid black; padding-bottom: 5px;">
            <p><b>Você pode subir uma planilha com as etapas.</b></p>
            <form action="{% url 'registrarEtapasPorPlanilha' kvk.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ subiretapasform.as_p }}
                <br>
                <button class="btn btn-primary" type="submit">Enviar planilha</button>
            </form>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid black; padding-top: 5px;">
        <div class="col">
            <a href="{% url 'limparetapas' kvk.id %}" class="btn btn-danger">Limpar etapas</a>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<div class="container">
    <h2>Etapas do KvK iniciado em {{kvk.inicio}}</h2>
    <a href="{% url 'show_kvk' kvk.id %}" class="btn btn-secondary">Voltar</a>
    <table class="table table-striped">
        <thead>
            <th>Data</th>
            <th>Descrição</th>
        </thead>
        <tbody>
            {% for etapa in etapas %}
            <tr>
                <td>{{etapa.date}}</td>
                <td>{{etapa.descricao}}</td>
            </tr>
            {% empty %}
            <tr>
                <td>Este kvk não possui etapas registradas.</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}