{% extends 'rise/base.html' %}
{% block title %}- KvK{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>Gestão</h1>
    <form action="/kvk/createkvk/" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="date" name="inicio" id="inicio" class="form-control" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-success">Criar</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
<div class="container">
    <h1>KvK's</h1>
    {% for kvk in kvks %}
    <a href="/kvk/edit/{{kvk.id}}/" class="btn btn-primary">{{kvk.inicio}}</a>
    {% endfor %}
</div>
{% endblock %}